*, *::before, *::after {
    box-sizing: border-box;
}
:root {
    --header-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --common-font: Verdana, Geneva, Tahoma, sans-serif;
    --brand-color: #f57d28;
    --gap-size: 2em;
}
body {
    font-family: var(--common-font);
    padding: 2em;

}
body.no-scroll {
    overflow: hidden;
}
.banner {
    /* max-inline-size: 80%; */
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    color: #565656;
}
.banner .site-header {
    font-family: var(--header-font);
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #234d47;
}
.banner .open-modal-signup, .modal-signup .form-submit {
    display: inline-block;
    font-family: var(--common-font);
    inline-size: 8em;
    background-color: var(--brand-color);
    padding: 0.5em 1em;
    border: none;
    outline: none;
    border-radius: 0.5em;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: capitalize;
}
.open-modal-signup:hover {
    background-color: #d16314;
}
.close-modal-signup {
    position: absolute;
    right:  0.5em;
    top: 0.5em;
    inline-size: 1em;
    block-size: 1em;
    border: none;
    outline: none;
    text-indent: 5em;
    overflow: hidden;
    font-family: var(--common-font);
    font-size: 2rem;
    font-weight: bold;
    background-color: #565656;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    
}
.close-modal-signup::after {
    position: absolute;
    top: 0.22em;
    left: 0.08em;
    line-height: 0.5;
    text-indent: 0;
    content: "\00D7";
}
.close-modal-signup:hover {
    background-color: #777;
}
.modal-dropback {
    display: none;
    background-color: #00000080;
    position: fixed;
    inset: 0;
}
.modal-signup {
    display: none;
    position: fixed;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem;
    max-inline-size: 44em;
    background-color: #234d47;
    color: #fff;
    padding: var(--gap-size);
    border-radius: var(--gap-size);

}
.is-open {
    display: block;
}
.modal-signup h2 {
    text-align: center;
    font-size: 1.6rem;
    text-transform: capitalize;
    margin-block-end: 1.5em;

}
.modal-signup p {
    text-align: center;
    padding-block-end: var(--gap-size);
}
/* .modal-signup > * + * {
    margin-block-start: var(--gap-size);
} */
/* .modal-signup .modal-signup-form {
    max-inline-size: 70%;
} */

.modal-signup-form fieldset {
    border: 1px solid #fff;
    border-radius: var(--gap-size);
    padding: 1em 2em;
}
.modal-signup-form legend {
    padding-inline: var(--gap-size);
    font-size: 1.2em;
    text-transform: capitalize;

}
.modal-signup-form .form-group {
    margin-block: var(--gap-size);
}
.modal-signup-form label {
    display: inline-block;
    inline-size: 8em;
    padding-block: 0.5em;
}
.modal-signup-form input:not([type="submit"]):not([type="checkbox"]) {
    min-inline-size: 16em;
    font-family: var(--common-font);
    font-size: 1.1rem;
    color: #fff;
    background-color: unset;
    border: none;
    border-block-end: 1px solid #fff;
    outline: none;
    padding: 0.5em 1em;
}
.form-submit-container {
    text-align: end;
}
.modal-signup-form .form-submit {    
    display: inline-block;
    inline-size: 10em;
    background-color: var(--brand-color);
    border-radius: 0.5em;
    font-family: var(--common-font);

}
.modal-signup-form .form-submit:hover {
    background-color: #d16314;
}



