<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Gallery</title>
    <link rel="stylesheet" href="portfolio-gallery.css">
</head>
<body>
    <div class="container">
        <figure class="gallery-items features">
            <img src="../../assets/image/Lambo_quentin.jpg" alt="Lambo_quentin" >
            <figcaption>Lambo Quentin</figcaption>
        </figure>
        <figure class="gallery-items">
            <img src="../../assets/image/G-wagon_drani.jpg" alt="G-wagon_drani" >
            <figcaption>G-wagon Drani</figcaption>
        </figure>
        <figure class="gallery-items features">
            <img src="../../assets/image/Lambo_ustus.jpg" alt="Lambo_ustus" >
            <figcaption>Lambo Ustus</figcaption>
        </figure>
        <figure class="gallery-items">
            <img src="../../assets/image/G-wagon_batuh.jpg" alt="G-wagon_batuh" >
            <figcaption>G-wagon Batuh</figcaption>
        </figure>
        <figure class="gallery-items">
            <img src="../../assets/image/Lambo_mebird.jpg" alt="Lambo_mebird" >
            <figcaption>Lambo Mebird</figcaption>
        </figure>
        <figure class="gallery-items features">
            <img src="../../assets/image/G-wagon_xesand.jpg" alt="G-wagon_xesand" >
            <figcaption>G-wagon Xesand</figcaption>
        </figure>
        <figure class="gallery-items features">
            <img src="../../assets/image/G-wagon_vadsk.jpg" alt="Lambo_quentin" >
            <figcaption>G-wagon Vadsk</figcaption>
        </figure>
        <figure class="gallery-items">
            <img src="../../assets/image/Lambo_quentin.jpg" alt="Lambo_quentin" >
            <figcaption>Lambo Quentin</figcaption>
        </figure>
        <figure class="gallery-items">
            <img src="../../assets/image/Lambo_quentin.jpg" alt="Lambo_quentin" >
            <figcaption>Lambo Quentin</figcaption>
        </figure>
    </div>
</body>
</html>