body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3e5e80;
}
h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.05em;
    margin-top: 2em;
}

table {
    min-width: 980px;
    margin: 1em auto;
}

th {
    /* background-color: #fff; */
    border-bottom: 2px solid #777;
    border-top: 1px solid #aaa;
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8em;
}
th, td {
    padding: 10px 10px 10px 7px;
    font-size: 0.9em;
}

tr:nth-child(odd):not(:first-child) {
    background-color: #efefef;
}
tr:last-of-type td{
    border-bottom: 1px solid #ccc;
}
.table tr:hover {
    background-color: #c3e6e5; 
    cursor: pointer;
}
.price, .pages {
    text-align: right;
}


