@layer reset, theme, global, layout, medules, utilities;
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: unset;
  }
  select,
  input,
  textarea,
  button {
    font: inherit;
  }
  canvas,
  img,
  picture,
  figure {
    max-inline-size: 100%;
  }
  @media (prefers-reduced-motion: reduce) {
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
  }
}
@layer theme {
    :root {
        --brand-color-1: #234d47;
        --background-color-0: #fff;
        --background-color-1: #f9f9f9;
        --background-color-2: #808080;
        --background-color-3: #2d3447;
        --border-color-1: #bbb;
        --border-color-2: #ccc;
        --border-color-3: #777;
        --foreground-color-0: #000;
        --foreground-color-1: #654;
        --foreground-color-2: #565656;
        --foreground-color-3: #39431a;
        --font-main-1: Verdana, Geneva, Tahoma, sans-serif;
        --font-main-2: Arial, Helvetica, sans-serif;
        --font-heading-1: Georgia, Times, serif;
        --font-heading-2: Georgia, 'Times New Roman', Times, serif;
        --gap-size: 1.5em;

        accent-color: var(--foreground-color-1);
        color-scheme: light;
    }
}
@layer global {
    :root {
        font-size: clamp(1rem, 0.8svw + 0.4em, 1.2rem);
    }
    body {
        font-family: var(--font-main-1);
        color: var(--foreground-color-3);
        line-height: 1.4;
    }
    a:where(:any-link) {
        color: var(--brand-color-1);
        text-decoration: none;
    }
}
@layer layout {
    .l-homepage {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--gap-size);
    }
}
@layer modules {
    @property --hue {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }
    .container {
        padding: var(--gap-size);
        line-height: 1.6;

    }
    .main-heading {
        font-family: var(--font-heading-1);
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: uppercase;
        color: var(--brand-color-1);
        text-align: center;
        letter-spacing: 0.01em;
    }
    .container__para {
        /* margin-inline: var(--gap-size); */
        padding-inline: var(--gap-size);
    }
    .button {
        --hue: 246deg;
        background-color: oklch(26% 0.3 var(--hue));
        padding: 0.6em 1.5em;
        border: none;
        color: var(--background-color-0);
        border-radius: var(--gap-size);
        font-weight: bold;
        text-transform: capitalize;
        cursor: pointer;
        transition: --hue 0.5s linear;
    }
    .button:hover {
        --hue: 349deg;
    }
}