@layer reset, theme, global, layout, module;
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: unset;
  }
  button,
  input,
  select,
  textarea {
    font: inherit;
  }
  canvas,
  figure,
  img,
  picture {
    max-inline-size: 100%;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01ms !important;
    }
  }
}
@layer theme {
  :root {
    --brand-color-0: #009933;
    --brand-color-1: #389938;
    --brand-color-2: #008abc;
    --brand-color-3: #2c4ad1;
    --brand-color-4: #234d47;
    --border-color-1: #79d2a0;
    --background-color-0: #fff;
    --background-color-1: #6b6a6a;
    --background-color-2: #464545;
    --background-color-3: #404040;
    --background-color-4: #888;
    --background-color-5: #000000b3;
    --foreground-color-0: #000;
    --foreground-color-1: #39431a;
    --foreground-color-2: #565656;
    --font-main-1: Verdana, Geneva, Tahoma, sans-serif;
    --font-main-2: Arial, Helvetica, sans-serif;
    --font-heading-1: Georgia, Times, serif;
    --gap-size-extra-large: 3em;
    --gap-size-ex-large: 2.5em;
    --gap-size-larger: 2em;
    --gap-size-large: 1.5em;
    --gap-size-medium: 1em;
    --gap-size-small: 0.5em;
    --gap-size-extra-small: 0.25em;

    accent-color: var(--foreground-color-2);
    color-scheme: light;
  }
}
@layer global {
  :root {
    font-size: clamp(1rem, 0.8svw + 0.4em, 1.2rem);
  }
  body {
    font-family: var(--font-main-1);
    color: var(--foreground-color-2);
    line-height: 1.4;
  }
  a:where(:any-link) {
    color: var(--background-color-0);
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-heading-1);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    text-align: center;
  }
}
@layer module {
  .welcome {
    position: relative;
    inline-size: 22em;
    margin-inline: auto;
    margin-block: calc(var(--gap-size-extra-large) * 2) var(--gap-size-large);
    background: url(../../../assets/image/Paris_night.jpg) no-repeat center;
    background-size: cover;
    background-color: var(--background-color-5);
    border-radius: var(--gap-size-medium);
    color: var(--background-color-0);
  }
  .welcome__inner {
    backdrop-filter: blur(3px);
    border-radius: calc(var(--gap-size-medium) + 0.1em);
    padding-block: var(--gap-size-medium) var(--gap-size-large);
    padding-inline: var(--gap-size-medium);
  }
  .image {
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    inline-size: 120px;

  }
  .heading {
    display: inline-block;
    font-family: var(--font-main-2);
    padding-block: var(--gap-size-extra-small);
    text-align: left;
    font-size: 2.8rem;
    text-transform: none;
    border-block-end: 6px solid var(--border-color-1);
    margin-block-end: var(--gap-size-large);
  }
  .form__group {
    display: flex;
    flex-flow: wrap;
    gap: var(--gap-size-medium);
    margin-block-end: var(--gap-size-large);
  }
  .form__group--panel {
    label {
      font-size: 1.2rem;
      margin-inline-start: var(--gap-size-small);

    }
    > input:not([type=radio]):not([type=checkbox]) {
      background-color: transparent;
      border: 0;
      border-block-end: 2px solid var(--border-color-1);
      outline: none;
      padding-inline: var(--gap-size-medium);
      padding-block-start: var(--gap-size-small);
      margin-inline-start: var(--gap-size-large);
      flex: 0.9;
      color: var(--background-color-0);

      &:hover, &:focus {
        border-block-end: 2px solid var(--brand-color-1);
      }
    }
  }
  .form__group--button {
    padding-block: var(--gap-size-large);
    justify-content: center;

  }
  .button {
    background-color: transparent;
    border: 3px solid var(--border-color-1);
    padding: var(--gap-size-small);
    flex: 0.9;
    outline: none;
    cursor: pointer;
    color: var(--background-color-0);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}
