body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
.signup-container {
    width: 400px;
    background-color: #000;
    margin: 5em auto;
    padding: 20px;
    border-radius: 25px;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 1.8em;
}

.form-group {
    display: flex;
    justify-content: center;
    margin: 30px;
    height: 50px;
    align-items: center;
}
.form-group a {
    /* font-size: 1.1em; */
    text-decoration: none;
    color: #000;
    flex: .8 0 auto;
    padding: 16px;
    border-radius: 28px;
    border-bottom: 1px solid transparent;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.form-group  a[href="#free-signup"] {
    background-color: #389938;
}
.form-group a[href^="spotify"] {
    background-color: #fff;
    color: #333;
}
.form-group a[href="#free-signup"]:hover, .form-group a[href^="spotify"]:hover {
    padding: 18px 40px;
}
.form-group a[href="#settings"] {
    flex: 0.1 0 auto;
    padding: 0 0 5px;
    border-radius: 0;
}
.form-group a[href="#settings"]:hover {
    border-bottom: 1px solid #fff;
}
